.item{
    display: flex;
    width: 100%;
    gap: 12px;
}
.title{
    font-size: 14px;
}
.extra{
    font-size: 12px;
    color: #6c7072;
}
.info{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.wrapper{
    width: 64px;
    height: 64px;
    background-position: center;
    background-size: cover ;
    background-color: #f2f4f5;
    flex-shrink: 0;
}