
.categories {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.active, .item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 32px;
    border: none;
    background-color: #f2f4f5;
}
.active {
    background-color: #e7e7ff;
    color:  #684eff;
}
::-webkit-scrollbar{
    display: none;
}
