.column_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.row_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    gap: 12px;
    box-sizing: border-box;
}
.list li{
    list-style-type: none;
}
.banner {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.item {
    width: 100%;
    height: 40px;
    position: relative;
}

.banner, .item {
    background: linear-gradient(-90deg, #b4abab 0%, #f8f8f8 50%, #b4abab 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
}
@keyframes pulse {
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: -135% 0%;
    }
}